.sm {
    max-width: 640px;
}

.md {
    max-width: 768px;
}

body {
    margin-left: auto;
    margin-right: auto;
}

/* body {
    background-color: #111827;
} */

#term, #section_points, #course_points {
    max-width: 100px;
}

.align-r {
    text-align: right;
    margin-right: 50px;
}

.btn_small {
    max-width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.btn_medium {
    max-width: 20%;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.btn_red {
    border-color: red;
    color: red;
}